<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="LogConsole" xsi:type="Console" />
    <target name="LogFile" xsi:type="File" fileName="TestsLog.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="LogConsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <logger name="*" minlevel="Info" writeTo="LogFile" layout="${longdate}|${level:uppercase=true}|${logger}|${message}"/>
  </rules>
</nlog>